<div class="card mb-3">
    <div class="row g-0" style="margin: 0;">
        <div class="col-md-4">
        <img src="{{cafeImg}}" class="img-fluid rounded" alt="...">
        </div>

        <div class="col-md-6">
        <div class="card-body"  style="margin: 0;">

            <a href="cafe/{{cafeName}}"><h5 class="card-title">{{cafeName}}</h5></a>
            <div class = "cb_rating">
            <img src="../../images/ratings/full.png"/>
            <img src="../../images/ratings/full.png"/>
            <img src="../../images/ratings/full.png"/>
            <img src="../../images/ratings/full.png"/>
            <img src="../../images/ratings/full.png"/>
            <span class = "numreviews">({{numOfReviews}})</span>
        </div>
            <p class="card-text">{{cafeShortInfo}}</p>
            <p class="card-text"><small class="text-body-secondary">{{open_details}}</small></p>
        </div>
        </div>

    </div>
</div>