<div class="col-3">
    <div class="container-sm">

    <img src=".{{cafeimg}}" style="width: 100%; border-radius: 10%; border: 1px solid grey;">
    <h5 class="recommended">
        {{cafeName}}
    </h5>

      <p class="recommended">
        member since {{memberyear}}
      </p>
      <p class = "ratings">
        <img src="../../images/ratings/full.png"/>
        <img src="../../images/ratings/full.png"/>
        <img src="../../images/ratings/full.png"/>
        <img src="../../images/ratings/empty.png"/>
        <img src="../../images/ratings/empty.png"/>
        <span class = "numreviews">({{numreviews}})</span>
      </p>
      <hr>
        <p>
          <h5 class = "recommended">Description</h5>
          {{description}}
        </p>

        <hr>
    </div>

</div>  