<div class="card">
                  <h5 class="card-header">
                      <img src = ".{{userimg}}" class = "reviewer-img">
                      <div class = "userinfo">
                        {{username}}<br>
                        <span class = "member_since">member since {{memberyear}}</span>
                      </div>
                  </h5>
                  <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <div class = "cb_rating">
                      <img src="../../images/ratings/full.png"/>
                      <img src="../../images/ratings/full.png"/>
                      <img src="../../images/ratings/full.png"/>
                      <img src="../../images/ratings/full.png"/>
                      <img src="../../images/ratings/full.png"/>
                      <br>
                      <span class = "review_date">Reviewed on {{reviewdate}}</span>
                    </div>
                    <p class="card-text">
                        {{reviewtext}}
                    </p>
                    {{#if media}}
                    <div class="review_pics_container" style= "margin: 0">
                      <video src="../../videos/Learning with FGO - Gudako crazy about gacha.mp4" class="object-fit-cover" controls></video>
                    </div>
                    {{/if}}
                    <div class = "write_review reply-button" style = "margin: 0;">
                      <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          Reply
                      </button>
                      <div class="collapse" id="collapseExample">
                          <div class="card card-body">
                              <div class = "review-wrapper">
                                  <form>
                                      <div class = "review-content">
                                          <textarea class="form-control review-body" placeholder="Write a reply" id="review-editor" style="height: 100px"></textarea>
                                      </div>
                                      <input type = "submit" class = "submit-review">
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
                </div>