<div class="col-3">
                <div class="container-sm">

                <img src=".{{imgsrc}}" style="width: 60%; border-radius: 10%; border: 1px solid grey;">
                <h5 class="recommended">
                    {{username}}
                </h5>

                    <p class="recommended">
                      member since {{memberyear}}
                    </p>
                    
                    <p>
                    {{#if bio}}
                     {{bio}}
                    {{/if}}
                    </p>

                    <hr>

                    <p class="recommended">
                        Review Stats
                    </p>

                    <p>
                      5 stars: {{go}} <br>
                      4 stars: {{shi}}<br>
                      3 stars: {{san}}<br>
                      2 stars: {{ni}}<br>
                      1 stars: {{ichi}}<br>
                    </p>


                    <hr>
                </div>

              </div>